<!DOCTYPE html>
<html>
<title>Content-based-Machine-Recommender-System-in-Chinese-Article</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
body, html {
	height: 100%;
	font-family: 'Noto Sans TC', sans-serif;
}
  
.bgimg {
	background-position: center;
	background-size: cover;
	background-image: url("../static/images/senset_mountain.jpeg");
	min-height: 75%;
}
.menu {
	display: none;
}

</style>
<body>

<!-- Links (sit on top) -->
<div class="w3-top">	
	<div class="w3-row w3-padding w3-black">
		<div class="w3-col s3">
			<a href="/" class="w3-button w3-block w3-black">HOME</a>
		</div>
		<div class="w3-col s3">
			<a href="poem" class="w3-button w3-block w3-black">POEM</a>
		</div>
		<div class="w3-col s3">
			<a href="mingyan" class="w3-button w3-block w3-black">MINGYANG</a>
		</div>
		<div class="w3-col s3">
			<a href="novel" class="w3-button w3-block w3-black">NOVEL</a>
		</div>
	</div>
</div>

<!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home">
	<div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">
		<span class="w3-tag">Shangrex</span>
	</div>
	<div class="w3-display-middle w3-center">
		<span class="w3-text-white" style="font-size:90px">Novel<br>Article</span>
	</div>
	<div class="w3-display-bottomright w3-center w3-padding-large">
		<span class="w3-text-white">hshangrex@gmail.com</span>
	</div>
</header>

<!-- Add a background color and large text to the whole page -->
<div class="w3-sand w3-grayscale w3-large">

	<!-- About Container -->
	<div class="w3-container" id="poet">
		<div class="w3-content" style="max-width:700px">
		<h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">Recommend Novel</span></h5>
		<div class="col">
			<input id="input_name" type="text" class="form-control" placeholder="Keywords" name="text">
		</div>
		<button id="name_btn" type="submit" class="w3-button w3-black" value="search">Search</button>
		<p id="content_name">Search novel's name</p>

		<img src="../static/images/bg-post.jpg" style="width:100%;max-width:1000px" class="w3-margin-top">
	</div>
	</div>

<!-- Menu Container -->
<div class="w3-container" id="menu">
<div class="w3-content" style="max-width:700px">

	<h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">Recommend Novel's author</span></h5>

	<div class="col">
		<input id="input_author" type="text" class="form-control" placeholder="Keywords" name="text">
	</div>
	<button id="author_btn" type="submit" class="w3-button w3-black" value="search">Search</button>
	<p id="content_author">Recommend the novel's author</p>

	<img src="../static/images/bg-index.jpg" style="width:100%;max-width:1000px" class="w3-margin-top">
</div>
</div>



<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-48 w3-large">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script>

//recommend mingyan
var name_btn = document.getElementById('name_btn');

name_btn.addEventListener("click", function(event) {
	var value = document.getElementById('input_name').value;
	console.log(value);
	var req = new XMLHttpRequest();
	req.open('POST', '/novel/name/');
	var account = {
		keywords: value
	}
	var data = JSON.stringify(account);

	req.send(data);	
	req.onload = function(){
		data = JSON.parse(req.responseText);
		var value = document.getElementById('content_name');
		value.innerHTML = data['rst'];
	}
}, false); 


//recommend Novel's author
var author_btn = document.getElementById('author_btn');

author_btn.addEventListener("click", function(event) {
	var value = document.getElementById('input_author').value;
	console.log(value);
	var req = new XMLHttpRequest();
	req.open('POST', '/novel/author/');
	var account = {
		keywords: value
	}
	var data = JSON.stringify(account);

	req.send(data);	
	req.onload = function(){
		data = JSON.parse(req.responseText);
		var value = document.getElementById('content_author');
		value.innerHTML = data['rst'];
	}
}, false); 



// Tabbed Menu
function openMenu(evt, menuName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("menu");
  for (i = 0; i < x.length; i++) {
	x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
	tablinks[i].className = tablinks[i].className.replace(" w3-dark-grey", "");
  }
  document.getElementById(menuName).style.display = "block";
  evt.currentTarget.firstElementChild.className += " w3-dark-grey";
}
document.getElementById("myLink").click();
</script>

</body>
</html>
